<header class="l-header">
  <nav class="l-header__navi">
    <div class="l-header__navi__item">
      <a href="#">制作事例</a>
    </div>
    <div class="l-header__navi__item">
      <a href="#">自己紹介</a>
    </div>
    <div class="l-header__navi__item">
      <a href="#">お問い合わせ</a>
    </div>
  </nav>
</header>
