---
import "@/styles/globals.scss";
import "@fontsource-variable/open-sans";
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/josefin-sans";
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/500.css";
import "@fontsource/barlow/700.css";
import "@fontsource/montserrat";
import "@fontsource-variable/josefin-sans/wght-italic.css";
import Head, {type HeadProps} from "@/components/parts/head.astro";
import Header from "@/components/templates/header.astro";
import Footer from "@/components/templates/footer.astro";
type Props = HeadProps;
---

<html lang="ja">
  <Head {...Astro.props} />
  <body>
    <div id="page">
      <Header />
      <main class="l-main">
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      import "@/client";
    </script>
  </body>
</html>
